@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
*{
margin:0; /*внешние отступы*/
padding:0;/*vnnut otstupi*/
box-sizing: border-box; /*параметры ширины*/
}
body {
background:url('../смешные шарики/смешные шарики/bg.svg');
background-repeat: no-repeat;
}
h1{
    font-size: 48px;
     font-family: "Oi";
    font-weight: 100;
    padding: 72px 0 0 52px;
    color: #34402a;
}
.wrapper{
    background: #6E895A;
    margin-top: 441px;
    text-align: center;
}
.flip-card{
    display: inline-block;
    height: 500px;
   width: 400px;
   background: transparent;
   perspective: 1000px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}
.flip-card-front img{
    width:50% ;
    margin-top: 18%;
    
}
.flip-card:active .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    background-image: url("../смешные шарики/смешные шарики/card.svg");
    background-size:100% 100% ;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-back{
    text-align: left;
    padding: 20%;
    color: white;
    transform: rotateY(180deg)
}
